@{
    ViewData["Title"] = "plibmon";
}

<div class="text-center">
    <h1 class="display-4">plibmon</h1>
    <p>Monitors the media in your plex library</p>
    <p> Here's the link: @Model</p>
</div>
